build
dist
node_modules/
coverage
npm-debug.log
.idea
.DS_Store
coverage
logs
src/external/build
mock-server/*.log
newrelic_agent.log
report-results.html
*.sublime-workspace
esdoc
*.tgz
reports
.nyc_output
lib
./dist/**/*
